body {
    background-color: black;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFr7RE3W_Qp2VWA7rqOgx0l1tbGhfvA1IfM0MWb9QncOl4plODzA);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 70% 100%;
    font-family: sans-serif;
    margin-top: 200px;
    margin-bottom: 400px;
}

.wrapper {
    max-width: 500px;
    margin: auto;
    background: #eeeeee;
    box-shadow: 3px 3px 3px 3px hsla(0, 0%, 0%, 0.2);
}

section {
    width: 100%;
    display: block;
    font-size: 20px;
    padding: 20px;
    box-sizing: border-box;
}

h4 {
    color: blue;
    padding: 10px;
}

p {
    text-align: left;
    padding: 10px;
}

img {
    max-width: 100%;
    padding: 10px;
}

h2 {
    text-transform: uppercase;
    color: blue;
    padding: 10px;
}

main {
    font-size: 0;
}

.hav, .vah{width: 49%;
    display: inline-block;
    font-size: 20px;
    box-sizing: border-box;}

li {
    list-style-type: none;
    color: blue;
    padding-left: 20px;
}
.text {padding-right: 70px;}